.inputwrapper {
    border-radius: 40px;
}

.button {
    border-radius: 30px;
}

.checkin-button { 
    border-radius: 50px;
}

.checkout-button {
    border-radius: 50px;
}

.checkinName {
    border-radius: 30px;    
}

#entrycompany {
	display: none;
}

#entrycompanyspacer {
	display: none;
}