/*

Global css tags

*/

.fullscreen-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
} 

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
}

@font-face {
font-family: "OpenSans";
src: url("OpenSans-Regular.ttf") format("opentype");   
}

.page {
    font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
    -webkit-font-smoothing: antialiased;

}


/* buttons */

.button {
    font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
    padding:0px 20px 0px 20px;
    background-color: #fff;   
    border: 0px;
    padding: 15px 10px 20px 10px !important;    
    min-width: 30vw;
    font-size: 2vw;
    font-weight: bold;
    color:#383838;
}

.underline {
    border-bottom:2px solid;
    display:block;
    width:4vw;
    height:10px;
    margin: 0 auto;
}

/* error icons */


.inputwrapper .errspan { 
    position: absolute;
    top: 25px;
    right: 20px;
    color: #383838;
    width:20px;
}

.inputwrapper .errspanred {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #383838;
    width:20px;
}

.errspanreg-green
{
    position: absolute;
    top: 25px;
    right: 20px;
    color: green;
    width:20px;
}
.errspanreg-red
{
    position: absolute;
    top: 25px;
    right: 20px;
    color: red;
    width:20px;
}


/* spinner */

#spinner {
    position: fixed;  
    width: 100%;
    height: 100%;
    background: black url(../img/spinner.svg) center center no-repeat;
    opacity: .5;
    display:none;
    z-index:99999999999999;
    background-size: 10% 10%;
}


/* Text headings */

h1,h2,h3,h4 {
    color:#4A453C;
    font-weight: normal;
}

h3 {
    font-size: 1.1em;
}
h2 {
    font-size: 1.8em;
}
h1 {
    font-size: 2em;
}


/* input boxes */

.inputwrapper .faicon {
    position: absolute;
    top: 25px;
    left: 20px;
    color: #383838;
}
font-awesome.css:14
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inputwrapper {
    position: relative;
    background-color: white;
    padding: 15px 20px 15px 50px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.inputspacer {
    clear: both;
    height: 5vh;
    width: 100%;
    color: blue;
    display: block;
    float: left;
}

.text--input {
    z-index: 9999999;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
}

input, password, .input-text {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    width: 100%;
    max-width: 100%;
    border: 0px solid #bfbfbf;
    border-left: 2px solid black;
    border-radius: 0;
    padding: 15px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: box-shadow 0.15s ease-in-out;
    -moz-transition: box-shadow 0.15s ease-in-out;
    -ms-transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    text-decoration: none;
    line-height: inherit;
    white-space: normal;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1em;
}


.back-button {
    display:block;
    font-size:2vw;
    width:20%;    
    position: fixed;
    top: 2vw;
    left: 2vw;
    border:0px solid transparent;
    background-color: transparent;
    color:#4A453C;
    padding:0px 20px 0px 20px !important;
}


.help-button {
    display:block;
    font-size:1em;
    width:20%;    
    position: fixed;
    top: 5%;
    right: 5%;
    border:0px solid transparent;
    background-color: transparent;    
    color:#4A453C;
    text-align: right;
}

.top-button, .top-button-details {
    display:block;
    font-size:2vw;
    width:20%;    
    position: fixed;
    top: 2vw;
    right: 2vw;
    border:0px solid transparent;
    background-color: transparent;
    color:#4A453C;
    padding:0px 20px 0px 20px !important; 
}

.top-button-details {
    top: 10vw;
}

.termstext {
    color:#333;
    font-size:0.6em;
    z-index: -100;
}

/* 

checkout

*/

.q1 {
    width:60%;
}

.notselected {
  opacity: 0.3;
  width:55%;

}

.bigger {
  width:70%;
}

.d1 {
  font-size:3.5vw;
}
/* 
	Onsen css overrides 
*/

ons-navigator {
  background-color: transparent !important;
}

.page__backgr{
	background-color: transparent !important;
}

.page__background {
    background-color: transparent;
}


/******************* checkin page *********************/
.checkinName {
    border: none;
    background-color: white !important;
    font-size: 2.5vw;
    color: black;
    width: 40%;
    cursor: pointer;
    padding-top:15px;
    padding-bottom:15px;
}

.firescroll{
  display: block;
  height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}

.firescroll-prefill{
  display: block;
  height: 350px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}


.checkleft{
    text-align: left;

}


/* Details page */

.inputwrapper .didyoumean, .inputwrapper .continuenext { 
    position: absolute;
    top: 25px;
    right: 20px;
    color: #383838;
    display:none;
}


.inputwrapper .didyoumean a , .inputwrapper .continuenext a{ 
    text-decoration: underline;
}

.inputwrapper .didyouymeanleft { 
    position: absolute;
    top: 25px;
    right: 50px;
    color: #383838;
    display:none;
}


.inputwrapper .optin, .optinv2 {
    position: absolute;
    top: 25px;
    right: 60px;
    color: #383838;
    width: 100px;    
    text-align: center;
    border:1px solid #383838;
    border-radius: 5px;    
}

.optinv2 {
    border:0px solid #383838;
    white-space: nowrap;
}

/* Main page css */


#mpBigtime, #mpBigtime2 {
	font-size:3vw;
    color:#4A453C;
}
.mpBigtime {
    font-size:2vw;
    color:#4A453C;
}


.centeredtop {
  position: fixed;
  top: 5%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
}

.centeredbottom {
  position: fixed;
  bottom: 2%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
}

.staff-button , .lost-button{
    display:none;
    font-size:1em;
    position: fixed;
    top: 2vw;
    right: 3vw;
    background-color: transparent;
    z-index: 100;    
    border-radius: 10px;
    padding: 2px !important;
    min-width: 20%;
    text-align: right;
}



#mpDateTimeDiv {
    display:block;
    width:25%;	
    height:15%;	
    position: fixed;
    top: 1vw;
    left: 2vw;
    border:10px solid transparent;

}

#mpOnlineDiv { 
    display:block;
    width:5%;    
    height:2%;	
    position: fixed;
    bottom: 0;
    left: 0;
    border:10px solid transparent; 
    font-size:0.6em;
}


.checkin-button {
    display:block;
    font-size:2em;
    width: 40vw;
    z-index: 100; 
    padding:25px 20px 25px 20px !important;
}

.chk-button-category-div{
    float:left;    
    padding:10px;
}

.chk-button-category {
    width: 5vw;    
    min-width: 28vw;
    font-size:1.3em;    
}

.chk-single-button-category{
    width: 5vw;    
    min-width: 28vw;
    font-size:1.3em; 
    color:black; 
    padding-top:35%;
}

.checkout-button {
    display:block;
    font-size:2em;
    background-color: #79BE8A;
    width: 40vw;
    z-index: 100;    
    padding:25px 20px 25px 20px !important;    
}


.prefill-button {
    display:block;
    font-size:2em;
    width: 40vw;
    z-index: 100;    
    padding:25px 20px 25px 20px !important;    
}