<!DOCTYPE HTML>
<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

  <script src="lib/angular/angular.js"></script>
  <script src="lib/onsenui/js/onsenui.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.js"></script>


<!--
  <script src="components/monaca-cordova-loader/cordova-loader.js"></script>
  <script src="components/monaca-core-utils/monaca-core-utils.js"></script>
--> 


  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css"> 

  <script src="js/lib.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/loadcss.js"></script>
  
    

  <script>

    var myApp = angular.module('custrApp',        ['onsen']) 
        .config(function($sceDelegateProvider) {
        $sceDelegateProvider.resourceUrlWhitelist([
            // Allow same origin resource loads.
            'self',
            // Allow loading from our assets domain.  Notice the difference between * and **.
            baseurl + '**'
          ])
        })
        .run(function ($rootScope) {
            $rootScope.rootbgImage = 'img/bg.png';
            $rootScope.rootbgImageShow = true;
            $rootScope.rootbgVideo = '';            
            $rootScope.rootbgVideoShow = false;
        });
    

    var ALL = '*', FILTER = '=', COMPLETED = '~';
    
    document.addEventListener("deviceready", onDeviceReady, false);    

    function onDeviceReady() {  
        
        // fklag if its a compile and plugins loaded.
        pluginsLoaded = true;
       
        if (debug) { console.log("PhoneGap is ready"); }
    }        


    var handleMove = function (e) {
        var scrollable = false;
        var items = $(e.target).parents();
        $(items).each(function(i,o) {
            if($(o).hasClass("scrollable")) {
                scrollable = true;
            }
        });
        if(!scrollable)
            e.preventDefault();
    };



  </script>

</head> 
<body class="page" ng-app="custrApp" >

  <!-- Global assests -->

  <div id="spinner"></div>

  <div  id="bgimage" class="fullscreen-bg"  ng-show="rootbgImageShow"  ons-keyboard-inactive style="background-image:url({{rootbgImage}});-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"></div>     

  <div  id="videoSection" class="fullscreen-bg" ng-show="rootbgVideoShow"  >
      <video ng-src="{{rootbgVideo}}"  loop muted autoplay id="videoimg" class="fullscreen-bg__video" preload x-webkit-airplay="allow" playsinline webkit-playsinline>
          <source ng-src="{{rootbgVideo}}" id="videosource" type="video/mp4">
      </video>
  </div>   



  <ons-navigator var="myNavigator" page="login.html"></ons-navigator>

  <!-- Login page -->


  <script type="text/ons-template" id="badge.html">
    <ons-dialog cancelable>
      <div style="padding:5vw">
        <h2>If you have been issued with a badge, please enter the number below</h2>
        <div class="inputwrapper">
              <span class="fa fa-hashtag  faicon"></span>
              <input type="text" class="text--input" name="checkin_badgeno" id="checkin_badgeno" pattern="[0-9]*" inputmode="numeric" placeholder="Please Enter Your Badge No" />
        </div>

        <br clear="both"/> 

        <center>
        <h3>If you have not been issued a badge, please skip and press continue</h3>

        <ons-button id="badgebutton" ng-click="dialogClick();dialog.hide();"  style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">Continue and Check-In</ons-button>   <br/><br/>

        </center>
      </div>

    </ons-dialog>
  </script>



  <script type="text/ons-template" id="dbsapproved.html">
    <ons-dialog cancelable>

      <div style="background-color:lightgreen;width:100%;height: 20vh">
          <center style="font-size: 5vw;color:white;position: absolute;top: 8vh;left:25%">APPROVED</center>
      </div>

      <div style="padding:0vw 5vw 5vw 5vw">

        <center>

        <h3><b>{{dbsname}} DBS number is valid</b></h3>

        <h3>DBS : {{dbsnumber}}</h3>

        <h3><b>Please rotate device and show this message to the Reception team before pressing continue</b></h3>

        <ons-button id="badgebutton" ng-click="dialogClickNo();dialog.hide();"  style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">Continue</ons-button>   <br/><br/>

        </center>
      </div>

    </ons-dialog>
  </script>


  <script type="text/ons-template" id="dbswarning.html">
    <ons-dialog cancelable>

      <div style="background-color:red;width:100%;height: 20vh">
          <center style="font-size: 5vw;color:white;position: absolute;top: 8vh;left:25%">WARNING</center>
      </div>

      <div style="padding:0vw 5vw 5vw 5vw">

        <center>

        <h3><b>{{dbsname}} DBS number has expired on {{dbsexpire}}</b></h3>

        <h3>DBS : {{dbsnumber}}</h3>

        <h3><b>Please rotate device and show this message to the Reception team before pressing continue</b></h3>

        <ons-button id="badgebutton" ng-click="dialogClickNo();dialog.hide();"  style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">Continue</ons-button>   <br/><br/>

        </center>
      </div>

    </ons-dialog>
  </script>



  <script type="text/ons-template" id="contractorno.html">
    <ons-dialog cancelable>
      <div style="padding:5vw">

        <center>
        <h3>Please report to a member of the front of house reception team</h3>

        <ons-button id="badgebutton" ng-click="dialogClickNo();dialog.hide();"  style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">Continue</ons-button>   <br/><br/>

        </center>
      </div>

    </ons-dialog>
  </script>

  <ons-template id="login.html">

    <ons-page ng-controller="loginController" ng-init="init()">

    

      <div class="centered" >

        <img src="img/logo.png" />

        <h4>Welcome to e-Reception Book by LEADR. <br/><br/>If you have an account, please enter your username and password below. <span ng-show="!showRegister">If you do not, then please sign up online.</span><span ng-show="showRegister">If you do not, then please press Sign Up below.</span></h4>    
                    
        <div class="inputwrapper">
            <span class="fa fa-user-o faicon"></span>
            <input type="text" class="text--input" name="username" id="username"  placeholder="Your email address" value="{{usernamedebug}}" />
        </div><div class="inputspacer"></div>

        <div class="inputwrapper">
            <span class="fa fa-unlock-alt faicon"></span>
            <input type="password" class="text--input" name="password" id="password"  placeholder="Your password" value="{{passworddebug}}" />
        </div><div class="inputspacer"></div>
                   
        <ons-row align="center">

          <ons-col ng-show="showRegister">
            <ons-button id="registerbutton" disabled="{{buttondisbled}}" ng-click="registeruser()">Sign Up<div class="underline"></div></ons-button>
          </ons-col>
               
          <ons-col>
            <ons-button id="loginbutton" disabled="{{buttondisbled}}" ng-click="authenticate()">Sign In<div class="underline"></div></ons-button>
          </ons-col>

        </ons-row>
            
        <br/><br/><br/><center><small style="font-size:0.5em">Version : {{version}}</small></center>
      </div>
            

    </ons-page>

  </ons-template>

  <ons-template id="register.html">  


    <ons-page ng-controller="registerController" ng-init="init()">

        <div  id="bgimage" class="fullscreen-bg"  ons-keyboard-inactive style="background-image:url(img/bg.png);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"></div>

        <ons-button  ng-click="myNavigator.pushPage('login.html', { animation : 'none' } );" class="back-button" style="color: black;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>            


        <div style="text-align: center">
        
            <div id="divRegisterUser" class="centered" style="width:75%;color:black;; min-height:30vw">
                <center>
                    <h2 style="color: black;"><b>Sign up for e-Reception Book by LEADR</b></h2>
                </center>
        
        <ons-row align="center">
          <ons-col width="45%">
            <div class="inputwrapper" id="entryfullname">
                        <span class="fa fa-user-o faicon"></span>
                        <span id="fullnameTick" class="fa fa-check errspanreg-green" style="display:none"></span> 
                        <span id="fullnameCross" class="fa fa-times errspanreg-red" style="display:none"></span>
                        <input type="text" class="text--input" name="register_fullname" id="register_fullname" ng-model="register_fullname"  placeholder="Fullname *" ng-keypress="watchEnter($event,1)" value="" maxlength="150" />
                    </div>
          </ons-col>
          <ons-col width="10%">
          </ons-col>
          <ons-col width="45%">
            <div class="inputwrapper" id="entryemail">
                        <span class="fa fa-envelope-o faicon"></span>
                        <span id="emailTick" class="fa fa-check errspanreg-green" style="display:none"></span> 
                        <span id="emailCross" class="fa fa-times errspanreg-red" style="display:none"></span>
                        <input type="email" class="text--input" name="register_email" id="register_email" ng-model="register_email"  placeholder="Email Address *" ng-keypress="watchEnter($event,2)" value="" maxlength="150" />
                    </div>
          </ons-col>
        </ons-row>
                <div class="inputspacer"></div>   

              <ons-row>
                <ons-col width="45%">
                     <div class="inputwrapper" id="entryphoneno">
                        <span class="fa fa-phone-square faicon"></span>
                        <span id="phonenoTick" class="fa fa-check errspanreg-green" style="display:none"></span> 
                        <span id="phonenoCross" class="fa fa-times errspanreg-red" style="display:none"></span>
                        <input type="text" class="text--input" name="register_phoneno" id="register_phoneno" pattern="[0-9]*" ng-model="register_phoneno" placeholder="Phone number *" ng-keypress="watchEnter($event,3)" value="" maxlength="20"  />
                    </div>
            </ons-col width="10%">
              <ons-col>
        </ons-col>
              <ons-col width="45%">
                  <div class="inputwrapper" id="entrycompany">
                      <span class="fa fa-suitcase faicon"></span>
                      <span id="companyTick" class="fa fa-check errspanreg-green" style="display:none"></span> 
                      <span id="companyCross" class="fa fa-times errspanreg-red" style="display:none"></span>
                      <input type="text" class="text--input" name="register_company" id="register_company" ng-model="register_company"  placeholder="Company name *" ng-keypress="watchEnter($event,4)" value="" maxlength="150" />
                  </div> 
              </ons-col>
            </ons-row>
            <div class="inputspacer"></div>   

      <ons-row>
        <ons-col width="27%">
        </ons-col>
        <ons-col width="46%">
            <div class="inputwrapper" id="entrypassword">

                      <span class="fa fa-unlock-alt faicon"></span>
                      <span id="passwordTick" class="fa fa-check errspanreg-green" style="display:none"></span> 
                      <span id="passwordCross" class="fa fa-times errspanreg-red" style="display:none"></span>
                      <input type="password" class="text--input" name="register_password" id="register_password" ng-model="register_password"  placeholder="Password *" ng-keypress="watchEnter($event,5)" value="" maxlength="50" />
                  </div>
        </ons-col>

        <ons-col width="27%">
        </ons-col>
      </ons-row>
            <div class="inputspacer"></div>    

            <br clear="both"/> 

            <center>
                <ons-button id="registerbutton" disabled="{{registerbtndisbled}}" ng-click="registerMe();">
                        Start your trial
                </ons-button>                                  
            </center>                
            <br clear="both" />
                By signing up you agree to our <a href="#" ng-click='showTermCondition();'>Terms of Service</a>
        </div>
        
    </div>
    </ons-page> 
    
  </ons-template>


  <ons-template id="terms.html"> 
   <ons-page ng-controller="termsController" ng-init="init()">

        <ons-button  ng-click="myNavigator.pushPage('register.html', { animation : 'none' } );" class="back-button" style="color: black;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button> 
        <div class="term-text" id="firescroll">
            <h4 style="text-align:center;">MEDIABASE DIRECT LIMITED -TERMS AND CONDITIONS</h4>
        
             <div id="divterms"  class="centered firescroll scrollable term-font" style="width:80vw;height:35vw; text-align: left"> 
                
                
1.&nbsp;&nbsp;&nbsp;&nbsp; Definitions<br>
In this Agreement the expressions referred to below shall have the following meanings unless inconsistent with the context:-<br>
<br>
“Agreement” means the contract for the licensing of the use of Data and/or the provision of the Services incorporating these Terms and Conditions.<br>
“Company” means MediaBase Direct Limited (company registered number 2651463) whose registered office is at TML House, The Anchorage, Gosport, Hampshire, PO12 1LY and whose principal office is at Gable House, 18-24 Turnham Green Terrace, Chiswick, London W4 1QP.<br>
"Customer" means the individual, partnership, body corporate or other undertaking purchasing and receiving the Services and includes its personal representatives or its successors (as the case may be).<br>
"Data" means information of any kind, however represented whether comprising words, database entries, numbers, graphs, maps, pictures, sketches or otherwise in any other form and on any media and whether or not the property of the Company, or made available by the Company, under this Agreement including Data provided pursuant to any Services rendered by the Company on behalf of the Customer and Data includes any part thereof.<br>
"Data Services" means the services defined in the Pricing Illustration provided by the Company which includes, without limitation, the following services:-<br>
(i)"Database Services" - work carried out by the Company on the Customer's own database.<br>
(ii)"Profiling" - analysing the Customer's own client database in order to identify prospective clients with similar characteristics.<br>
(iii)"Statistics" - means statistical analysis of the Company's Data.<br>
(iv)"Data Capture" - means compiling information from individuals, partnerships, body corporates or other undertakings over the telephone, in person or via electronic devices on behalf of the Customer.<br>
"Due Date" means 30 days from the date of any invoice submitted by the Company to the Customer under these Terms and Conditions.<br>
“Force Majeure” means an event beyond the control of a party (or any person acting on its behalf), which by its nature could not have been foreseen, or, if it could have been foreseen, was unavoidable, and includes (but is not limited to) acts of God, storms, floods, riots, fires, sabotage, civil commotion or civil unrest, interference by civil or military authorities, acts of war (declared or undeclared) or armed hostilities or other national or international calamity or one or more acts of terrorism or failure of energy sources.<br>
"Intellectual Property Rights" or "IPRs" means copyright, database right, rights in software, patents, trade marks or any other intellectual property right whether registered or not and existing anywhere in the world.<br>
“Order Confirmation” means the Company’s confirmation to proceed with an order placed by a Customer for provision of the Services in accordance with the Quotation, issued by the Company in accordance with Clause 2.4 below.<br>
“Pricing Illustration” means the document provided to the Customer by the Company which includes details of the Services to be provided and the Total Price of providing the Services to the Customer and to which these Terms and Conditions apply.<br>
“Requirements” means the requirements of the Customer notified in writing to the Company in relation to the provision of the Services.<br>
"Third Party" means any individual, partnership, body corporate or other undertaking not being the Company or the Customer including (for the avoidance of doubt) any employee, agent or associated company of the Customer.<br>
"Total Price" means the total price payable by the Customer to the Company for the granting of a licence to use the Data or the provision of the Services.<br>
<br>
<br>
2. &nbsp;&nbsp;&nbsp; Contract formation<br>
2.1&nbsp;&nbsp; These Terms and Conditions apply to the Agreement between the Company and the Customer to the exclusion of all and any other terms and conditions of the Customer or any other Third Party.<br>
2.2&nbsp;&nbsp; A Customer may request provision of the Services from the Company either through the Company’s website, by telephone, post, email or fax.&nbsp; Upon receipt of an enquiry from the Customer, the Company shall supply a Quotation detailing the Services and the Total Price, which is subject to these Terms and Conditions.<br>
2.3&nbsp;&nbsp; If the Customer wishes to place an order for provision of the Services, then the Customer does so on the basis of the Pricing Illustration (or any revised version of the Pricing Illustration produced by the Company) and these Terms and Conditions, whether an order is placed by a Customer through the website of the Company, in writing, by fax, email or telephone.&nbsp; The Customer shall be deemed to accept these Terms and Conditions which are subject to the Agreement between the parties when the Customer places an order with the Company.<br>
2.4&nbsp;&nbsp; The Customer’s order constitutes an offer by the Customer to purchase the Services set out in the Pricing Illustration.&nbsp; The Company shall, at its entire discretion, be at liberty to accept the Customer’s offer to purchase the Services from the Company by issuing to the Customer an Order Confirmation (by email, fax or post), or by the Company’s commencement or execution of work pursuant to the Customer’s order, at which time a contract between the parties for provision of the Services shall come into existence on the basis of these Terms and Conditions.<br>
2.5&nbsp;&nbsp; If the Customer has any specific Requirements in relation to the Services, then such Requirements must be notified to the Company prior to the Pricing Illustration being raised by the Company.&nbsp; If the Company does not receive details of the Customer’s Requirements prior to issuing its Pricing Illustration, the Company reserves the right to change its Pricing Illustration (or the Total Price under Clause 9.2 if the Customer’s Requirements change after the Agreement commences in accordance with Clause 2.4).<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
3. &nbsp;&nbsp;&nbsp; Services<br>
3.1&nbsp;&nbsp; Following the Agreement coming into existence between the parties in accordance with Clause 2.4, the Company shall provide the Services set out in the Quotation to the Customer in accordance with the Agreement.<br>
3.2&nbsp;&nbsp; The Company shall use reasonable endeavours to provide the Services using reasonable skill and care..<br>
<br>
<br>
4.&nbsp;&nbsp;&nbsp;&nbsp; Obligations<br>
4.1&nbsp;&nbsp; The Customer shall co-operate with the Company in all matters relating to the performance of the Services in a timely manner and ensure that any Data or other information provided to the Company is accurate, not misleading and has all necessary consents or other related licences or permissions required in order for the Company to perform the Services in connection with such Data or information.<br>
4.2&nbsp;&nbsp; If the Company’s performance of its obligations under the Agreement is prevented or delayed by any act or omission of the Customer, or the Customer’s agents or employees, the Customer shall be liable to pay to the Company on demand all reasonable costs, charges or losses sustained or incurred by it (including, without limitation) any direct or indirect consequential losses to deploy resources elsewhere, subject to the Company confirming such costs, charges and losses to the Customer in writing.<br>
<br>
<br>
5.&nbsp;&nbsp;&nbsp;&nbsp; No Exclusivity<br>
The Company shall have the right to offer for sale or sell to or licence to any Third Party any information obtained by the Company by itself or supplied by any Third Party and supplied as Data to the Customer except for Data obtained by the Company by means of Data Capture which was supplied to the Customer on an exclusive basis or any Personal Data which is supplied to the Company by the Customer in accordance with Clause 14.4 below.<br>
<br>
<br>
6.&nbsp;&nbsp;&nbsp;&nbsp; Liability<br>
6.1&nbsp;&nbsp; Whilst the Company has endeavoured in both the collation of the Data and the provision of the Services to ensure the accuracy of the Data or Services the nature of the Data and Services (as the Customer accepts and acknowledges) is such that:-<br>
6.1.1&nbsp;&nbsp;&nbsp;&nbsp; in the collation of Data and the provision of the Services the Company often has to rely on information provided by the Customer or a Third Party and such information may have been incorrectly provided by a Customer or Third Party.<br>
6.2 &nbsp; The Company shall not be liable in contract, tort or otherwise for any indirect or consequential loss or damage (including, but not limited to, loss of profits, loss of contracts, loss of data, loss or anticipated savings or loss or reputation) sustained or incurred by the Customer or others resulting from the Company's failure to perform its obligations hereunder (in a timely manner or at all) or by directly, or indirectly, making use of the Data or the Services, including, but not limited to, any loss or damage resulting as a consequence of any defects or inaccuracies or errors in the Data or the Services.<br>
6.3&nbsp;&nbsp;&nbsp;The Company's total liability in contract, tort or otherwise for any loss or damage (excluding death, personal injury or fraud, which the Company does not seek to limit or exclude) sustained or incurred directly by the Customer or others arising as a result of the Company's breach of contract, negligence or otherwise, shall be limited to the amount of the Total Price paid by the Customer.&nbsp; The Company will not be liable as set out in this Clause 6.3 if the Total Price for the Data or the Services has not been paid by the Customer by the Due Date.<br>
6.4 &nbsp; Subject as expressly provided in this Agreement, all warranties, conditions or other terms implied by statute or common law are excluded to the fullest extent permitted by law.<br>
6.5&nbsp;&nbsp; Force Majeure: Neither party (or any person acting on its behalf) shall have any liability or responsibility for delay or failure to fulfill any obligation under this Agreement so long as, and to the extent to which, the fulfillment of such obligation is prevented, frustrated, hindered or delayed as a consequence of a Force Majeure event.&nbsp; A party claiming the benefit of this provision shall, as soon as reasonably practicable after the occurrence of any such event:<br>
6.5.1&nbsp;notify the other party of the nature and extent of such Force Majeure event; and<br>
6.5.2&nbsp;use all reasonable endeavors to remove any such causes and resume performance under this Agreement as soon as feasible.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the event that a party is affected by a Force Majeure event for a consecutive period of two (2) calendar months, the other party may terminate by giving thirty (30) days’ written notice.<br>
<br>
<br>
7.&nbsp;&nbsp;&nbsp;&nbsp; Variations<br>
Variations to the Requirements requested by the Customer will only be accepted by the Company where the variations and Total Price for such variations have been agreed between the Customer and the Company in writing.<br>
<br>
<br>
8.&nbsp;&nbsp;&nbsp;&nbsp; Delivery<br>
Any dates quoted for delivery of the Data and/or the Services are approximate only and time shall not be of the essence of the Agreement and the Company shall not be liable for any loss or damage of any kind whatsoever suffered by the Customer from any delay howsoever caused, nor will any delay entitle the Customer to cancel or rescind this Agreement other than in the circumstances set out at Clause 6.5.<br>
<br>
<br>
9.&nbsp;&nbsp;&nbsp;&nbsp; Price and Payment<br>
9.1 &nbsp; The Company reserves the right to increase the Total Price if the Company sub-contracts to a Third Party and for whatever reason the Third Party increases its prices to the Company.&nbsp; In this case the Company will only increase its price to the Customer by the amount of the increase charged by the Third Party to the Company.<br>
9.2&nbsp;&nbsp; Where the Total Price for Services is based on information and/or Requirements supplied by the Customer and that information and/or Requirements subsequently change or prove to be incorrect, the Company reserves the right to increase the Total Price or cancel the order at its absolute discretion.<br>
9.3&nbsp;&nbsp; The Customer shall pay the Total Price (without deduction or set-off) to the Company, as invoiced by the Company to the Customer by the Due Date, the time for payment being of the essence. If the Customer fails to make payment of the Total Price on the Due Date then without prejudice to any of the Company's other rights or remedies the Company may:-<br>
9.3.1&nbsp;&nbsp;&nbsp;&nbsp; suspend or cancel delivery of any Data or Services due to the Customer under the Agreement with the Customer;<br>
9.3.2&nbsp;&nbsp;&nbsp;&nbsp; appropriate any payment made by the Customer in relation to the provision of the Data or Services (or Data or Services supplied under any other contract with the Customer) as the Company may in its sole discretion think fit; and/or<br>
9.3.3&nbsp;&nbsp;&nbsp;&nbsp; charge the Customer interest calculated at the rate of 4% per annum above the base rate of Barclays Bank plc of the outstanding invoice (exclusive of VAT) at a daily rate from the Due Date to the date that payment is made in full.<br>
<br>
<br>
10.&nbsp;&nbsp; Intellectual Property Rights and Confidential Information<br>
10.1&nbsp; The Customer hereby acknowledges that the Company's IPRs in the Data owned or acquired by the Company and supplied or made available by the Company under this Agreement, and any and all IPRs in connection with the Services and performance of the Services, belong to and vest in the Company.&nbsp; In the event that the Quotation makes reference to Third Party Data, then the Customer also hereby acknowledges that the Third Party Data owner’s IPR in such Data belongs to and vests in that Third Party and that the Data supplied under this Agreement is produced in whole, or in part, under licence from and based in whole, or in part, from the protected material of a Third Party Data owner.&nbsp; Furthermore, nothing contained herein will be construed as an assignment or licence (subject to this Agreement) of any such IPRs to the Customer which, at all times, shall vest in the Company or its licensor.&nbsp;<br>
10.2&nbsp; The Customer shall have no rights or interests of whatsoever nature in or to the Data except to use the same (on a non-exclusive, royalty free basis) in accordance with the terms of this Agreement.&nbsp; For the avoidance of doubt, the Customer hereby agrees and acknowledges that the Data or the Services supplied under the terms of this Agreement will not be used by the Customer and/or any other Third Party in the compilation of a product which competes with the Company's or its licensor's existing products.&nbsp; The licence granted to the Customer for use of the Data or the Services under this Agreement consists of the right for the Customer to receive the Services provided under this Agreement and to use the Data for its internal business purposes, subject to any restrictions on the Data notified to the Customer by the Company at the time of providing the Data to the Customer.<br>
10.3&nbsp; Where the Company undertakes Data Capture on behalf of the Customer and as a result thereof revises the Company's existing Data, the Customer hereby agrees and acknowledges that the Data obtained can be utilised by the Company in any fashion whatsoever and without any liability (of whatsoever nature) to the Customer.<br>
10.4&nbsp; Where the Company undertakes Data Capture on behalf of the Customer and as a result thereof obtains information which is not on the Company's existing database then the IPRs in that information vests in the Customer (or its licensor in connection with that Data).<br>
10.5&nbsp; Where the Customer requires the Data for its own internal purposes the Customer will keep the Data or the Services confidential and will require its employees to do likewise.&nbsp; The Customer will at all times take all reasonable steps in relation to its employees, authorised and duly appointed agents to ensure that no Third Party reproduces or publishes the Data for his, her or its own financial gain (whether in hard copy or machine readable form and whether directly or in condensed or tabulated form) save and except in accordance with the terms of this Agreement.<br>
10.6&nbsp; Where the Customer is a list broker agency or similar and requires the Data for use on behalf of or for the benefit of any Third Party, the Data may only be disclosed to a Third Party which has contracted with such broker agency or similar for the acquisition of the Data for a stated and particular use only and provided the Customer:-<br>
10.6.1&nbsp;&nbsp; has given the Company full details of the Third Party and of the proposed use of the Data and;<br>
10.6.2&nbsp;&nbsp; that such Third Party has previously signed an agreement in respect of the use of the Data in such form as may be required by the Company.<br>
10.7&nbsp; The Customer will not either during the Term of this Agreement or thereafter, disclose the Data to the Customer’s clients or any Third Party, save in accordance with the terms of this Agreement.<br>
10.8&nbsp; The Customer acknowledges that the Data constitutes an extremely valuable and important asset of the Company.&nbsp; Accordingly, without prejudice to the Company's other rights whether arising under this Agreement or otherwise, in respect of the Data which in the opinion of the Company on the basis of such evidence as is reasonably available to the Company, is used by or on behalf of the Customer in the compilation of Data ("the Customer’s Database" which expression, where appropriate, shall include any part thereof) which is disclosed by or on behalf of the Customer to any Third Party, the Customer shall forthwith upon each such disclosure pay to the Company such sum as the Company determines that it would have charged for the supply of such part of the Customer’s Database as was disclosed by or on behalf of the Customer which was similar to the names and the addresses in the Data (taking into account in determining such sum the types of data elements within the Data).&nbsp; Without prejudice to the generality of the foregoing, the Customer agrees that it shall be irrefutably assumed that the Data has been used by the Customer in the compilation of the Customer’s Database if the entirety of the Customer’s Database contains names and addresses which are similar to more than half the names and addresses in the Data.&nbsp; In respect of any such compilation the Customer undertakes that it will maintain sufficient records including in respect of each such supply copies of those parts of the Customer’s Database which are supplied to a Third Party and forthwith upon request provide such records and copies in such machine readable form as will enable the Company to assess on the Company's own computer system the amounts due to the Company under this clause.<br>
10.9&nbsp; The Customer shall keep in strict confidence all technical or commercial know-how, specifications, the Quotation, inventions, processes or initiatives which are of a confidential nature and have been disclosed to the Customer by the Company or its agents, and any other confidential information concerning the Company’s business or its products which the Customer may obtain.&nbsp; The Customer shall restrict disclosure of such confidential information to such of its employees, agents or sub-contractors as need to know it for the purposes of discharging the Customer’s obligations to the Company under this Agreement and shall ensure that such employees, agents or sub-contractors are subject to obligations of confidentiality corresponding to those which bind the Customer.&nbsp; The Customer’s obligations under this Clause 10.9 shall be subject to any disclosure of such information as may be required by law, or any body of competent jurisdiction.<br>
10.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The provisions of this Clause 10 shall survive the termination of this Agreement and the rights of the Company hereunder are in addition to and not in substitution for any rights possessed at law.<br>
<br>
<br>
11.&nbsp;&nbsp; Termination<br>
11.1&nbsp; This Agreement shall come into existence in accordance with Clause 2 and shall continue (unless terminated in accordance with the terms of this Agreement) until completion of the Services and all relevant payments have been made by the Customer to the Company under this Agreement (“the Term”).<br>
11.2&nbsp; The Company may terminate this Agreement prior to the end of the Term at any time by written notice to the Customer.<br>
11.3&nbsp; This Agreement shall automatically terminate if:<br>
11.3.1&nbsp;&nbsp; the Customer materially breaches the terms of the Agreement and such material breach is not remedied (if capable of remedy) within fourteen (14) days from the date of receiving notice of such material breach;<br>
11.3.2&nbsp;&nbsp; the Customer makes any voluntary arrangement with its creditors or becomes subject to an administration order, or (being an individual or firm) becomes bankrupt (or being a company) goes into liquidation (otherwise than for the purposes of amalgamation or reconstruction); or<br>
11.3.3&nbsp;&nbsp; an encumbrancer takes possession or a receiver is appointed, of any of the property or assets of the Customer; or<br>
11.3.4&nbsp;&nbsp; the Customer ceases or threatens to cease to carry on business; or<br>
11.3.5&nbsp;&nbsp; the Company reasonably apprehends that any of the events mentioned at sub-clause 11.3.2-11.3.4 above are about to occur in relation to the Customer and notifies the Customer accordingly.<br>
11.4&nbsp; Upon termination of this Agreement for any reason:-<br>
11.4.1&nbsp;&nbsp; all rights granted to the Customer under this Agreement shall immediately cease and determine;<br>
11.4.2&nbsp;&nbsp; all Data supplied by the Company shall be delivered up to it forthwith by the Customer or, alternatively, at the Company's option, destroyed by the Customer who shall provide written certification of such destruction on request from the Company.<br>
11.5&nbsp; Termination of this Agreement, howsoever arising, shall not affect or prejudice any accrued rights of the parties as at termination or the continuation of any provision expressly stated to survive, or implicitly surviving, termination.<br>
<br>
<br>
12.&nbsp;&nbsp; One-Off Rental<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the event that the words "one-off rental" is used or alternatively when it has been agreed that one-off rental terms apply, the Company grants a non-exclusive licence to the Customer to use the Data &nbsp;in accordance with this Agreement once only, the Customer undertakes that it will use the Data &nbsp;on one occasion only.&nbsp; The Customer further undertakes that on completion of the use of the Data on such occasion, the Customer will return to the Company, or at the Company's option destroy and certify to the Company that such destruction has been completed, the Data (and all copies thereof) and the media upon which the Data is supplied to the Customer.&nbsp; The Customer acknowledges that the price of the Data has been calculated strictly on the basis of such undertakings.<br>
<br>
<br>
13.&nbsp;&nbsp; Data Leasing<br>
In the event that the words "data leasing" are used or alternatively when it has been agreed that leasing terms apply, the Company grants a non-exclusive licence to the Customer to use the Data in accordance with this Agreement for a period of 12 months from the date that the Data is supplied to the Customer, and the Customer undertakes that it will use the Data for the period of 12 months only.&nbsp; The Customer further undertakes that on expiry of the 12 month period, to the Customer will return to the Company, or at the Company's option destroy and certify to the Company that such destruction has been completed, the Data (and all copies thereof) and the media upon which the Data is supplied to the Customer unless the Company and the Customer have agreed to extend the period of the licence, whereupon these conditions will continue to apply during the extended licence period.<br>
<br>
<br>
14.&nbsp;&nbsp; Data Protection&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
14.1&nbsp; The Company and the Customer acknowledge that, subject to Clause 14.4, for the purposes of the Data Protection Act 1998 (“DPA”), the Company may be the Data Controller (as defined under the DPA) or act on behalf of other Data Controllers in connection with Data supplied by the Company to the Customer under this Agreement and the Customer is therefore the Data Processor (as defined under the DPA) in respect of any Personal Data (as defined under the DPA) contained within that Data.<br>
14.2&nbsp; Where the provisions of Clause 14.1 apply, the Customer therefore agrees to only process the Personal Data contained within the Data only in accordance with the Company’s instructions from time to time and shall not process the Personal Data for any purpose other than those expressly authorised by the Company. The Customer shall take reasonable steps to ensure the reliability of all its employees who have access to the Personal Data. The Customer warrants to the Company that it will process the Personal Data in compliance with all applicable laws, enactments, regulations, orders, standards and other similar instruments. The Customer further warrants that, having regard to the state of technological development and the cost of implementing any measures, it will:<br>
14.2.1&nbsp;&nbsp; take appropriate technical and organisational measures against the unauthorised or unlawful processing of Personal Data and against the accidental loss or destruction of, or damage to, Personal Data to ensure a level of security appropriate to:<br>
a) the harm that might result from such unauthorised or unlawful processing or accidental loss, destruction or damage; and<br>
b) the nature of the data to be protected.<br>
14.2.2&nbsp;&nbsp; take reasonable steps to ensure compliance with those measures.<br>
14.3&nbsp; The Customer agrees to indemnify and keep indemnified and defend at its own expense the Company against all costs, claims, damages or expenses incurred by the Company or for which the Company may become liable due to any failure by the Customer or its employees, agents or sub-contractors (as permitted) to comply with any of its obligations under this Agreement.<br>
14.4&nbsp; Where the Customer provides data to the Company in accordance with this Agreement, if the data contains any Personal Data then the Customer warrants to the Company that any required consents, licences and/or permissions required in order for the Company to process that Personal Data as anticipated by the provision of the Services are automatically included at the time the Customer delivers the data to the Company and the Customer shall indemnify and keep indemnified and hold harmless and defend the Company against any action taken against it, or costs, losses or expenses incurred or suffered, due to the Customer’s breach of this warranty and in connection with the processing of that Personal Data on behalf of the Customer.&nbsp; Provided the Customer has complied with its obligations under the DPA as a Data Controller (when supplying Data which includes Personal Data to the Company) and this Agreement, the Company agrees to only process that Personal Data for the purposes of providing the Services under this Agreement and in accordance with the Customer’s instructions and the DPA.<br>
<br>
<br>
15.&nbsp;&nbsp; Risk<br>
15.1&nbsp; Risk of loss or damage to the Data or the media holding the Data shall pass to the Customer on delivery of the Data and/or any media on which the Data is stored by the Company to the Customer.<br>
<br>
<br>
16.&nbsp;&nbsp; Breach<br>
Upon breach of this Agreement, the Company shall be entitled at any time to require the Customer to deliver up the Data to the Company and if the Customer fails to do so forthwith, to enter upon any premises of the Customer or any Third Party where the Data is stored and repossess the Data.<br>
<br>
<br>
17.&nbsp;&nbsp; General<br>
17.1&nbsp; This Agreement will be interpreted and operated in accordance with English Law and the parties hereby agree to submit to the jurisdiction of the English Courts.&nbsp;<br>
17.2&nbsp; The headings appearing in this Agreement are for the convenience of reference only and will not affect the meaning of anything contained therein.<br>
17.3&nbsp; Failure by the Company to enforce any part of this Agreement shall not be construed as a waiver of any of the Company's rights herein.<br>
17.4&nbsp; If any provision of this Agreement is held by any competent authority to be invalid or unenforceable in whole or in part, the validity of the other provisions of this Agreement and the remainder of the provision in question shall not be affected thereby.<br>
17.5&nbsp; The Customer shall not be entitled to assign this Agreement without the Company's prior written consent.&nbsp; The Company has the right to sub-contract any of its duties or obligations under this Agreement.<br>
17.6&nbsp; Nothing herein contained shall be deemed to constitute the Company and the Customer as partners or agents of one another.<br>
17.7&nbsp; This Agreement is made for the benefit of the parties to it and (where applicable) their successors and permitted assigns and is not intended to benefit, or be enforceable by, anyone else under the Contracts (Rights of Third Parties) Act 1999.<br>
17.8&nbsp; This Agreement sets out the entire agreement of the parties and supersedes all prior agreements and understandings relating to its subject matter.<br>
<br>
<br>
12.&nbsp;&nbsp; Cookies<br>
A cookie is a string of information that a website stores on a visitor’s computer and that the visitor’s browser provides to the website each time the visitor returns.&nbsp; We use what is known as a session cookie to keep track of a member whilst they are logged on to our site.&nbsp; This is essential to the whole operation of our service.&nbsp; It follows that by registering for the service you are consenting to our use of cookies in this way.&nbsp; For more information about cookies please refer to our Privacy Policy.<br>
<br>
Date: 1 June 2015
            </div>            
<div id="hiddenand" style="display:none;"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
        </div>
        
    </ons-page>        
  </ons-template>




  <ons-template id="categories.html">  

   <ons-page ng-controller="categoriesController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"> 
            Back <i class="fa fa-undo" aria-hidden="true"></i>
        </ons-button>

        
        <div class="centeredtop" style="width:70%" >
            <center><img src="{{company_image}}" width="30%" /></center> 
        </div>
        
             
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:90%;color:black;; min-height:40vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Please choose your category</b></h2>
                </center>

                    <div ng:repeat="item in categories" ng-class="(item.name == 'Already Registered') ? '' : 'chk-button-category-div'">
                      <ons-button ng-if="item.name != 'Already Registered'"  ng-click="selectCategory(item.id,item.name,item.vistor_request,item)" class="checkin-button chk-button-category" style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">{{item.name}}<div class="underline underlinecolour"></div></ons-button>
                    </div> 

                    <table style="width:100%;height:40%;display: table;" id="tblcategoryspace" border="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                   
                  </table>
                   <table style="width:100%;display: table;" id="tblcategory" border="0">
                    <tr>
                      <td>
                        <center>
                          <div>
                            <ons-button ng-click="AlreadyRegCategory()" class="checkin-button chk-single-button-category">Already Registered<div class="underline underlinecolour"></div></ons-button>
                          </div>
                        </center>                          
                      </td>
                    </tr>
                </table>

           
            </div> 
        </div>
    </ons-page> 


  </ons-template>


  <ons-template id="staff.html">  

   <ons-page ng-controller="staffController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"> 
            Back <i class="fa fa-undo" aria-hidden="true"></i>
        </ons-button>

        
        <div class="centeredtop" style="width:70%" >
            <center><img src="{{company_image}}" width="30%" /></center> 
        </div>
        
             
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:40vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Please enter your staff number or name</b></h2>
                </center>

                <div class="inputwrapper">
                    <span class="fa fa-suitcase faicon"></span>
                    <input type="text" class="text--input" name="checkin_name" id="checkin_name" ng-model="checkin" ng-focud="true" ng-change="changecheckin()" placeholder="Please enter your staff number or name...." value="" />
                </div><div class="inputspacer"></div>  
                
               
                <br clear="both"/> <br clear="both"/>

                <center>
                <div id="checkinName" class="checkinName" style="display:none;width:90%;padding-left:10px;padding-right:10px" ng-click="selectPatient()"><b>{{checkin_name}}</b>
                    <span class="yes-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{direction}} <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </span>
                    <div class="underline"></div>
                </div>
                </center>


                <div id="hiddenand" style="display:none;"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>                
            </div>            

        </div>
    </ons-page> 


  </ons-template>


  <ons-template id="main.html">  

    <ons-page ng-controller="mainController" ng-init="init()" >


        <div class="centeredtop" style="width:70%" >
            <center><img src="{{company_image}}" width="30%" id="company_image"  ng-click="refreshImages()" /></center>
        </div>
        
        <div id="mpDateTimeDiv"  ng-click="restartApp();">
            <span id="mpBigtime2" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><i id="clock" class="fa fa-clock-o" aria-hidden="true" style="color:{{onlinecolor}}"></i></span>
            <span id="mpBigtime" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">{{bigTime}}</span><br>
            <span class="mpBigtime" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">{{v.Dt | date:'EEEE dd MMMM'}}</span>
        </div>
   
        <div style="text-align: center" width="90%">
                    
            <div id="mpCompanyName" class="centered" style="width:90%;color:black;">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:4vw" ng-click="fireEscape();">Welcome to {{company_name}}</h2>
                </center>

                <h4 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:2vw"><ng-bind-html ng-bind-html="scrollmessage"></ng-bind-html></h4>

                <center>
                <ons-button  ng-click="myNavigator.pushPage(nextpage, { animation : 'none' });" class="checkin-button chk-button-big" style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">Check In<div class="underline"></div></ons-button>
        
                <br/>

                <ons-button  ng-click="myNavigator.pushPage('checkout.html', { animation : 'none' });" class="checkout-button chk-button-big" style="color: {{checkoutcolor}}; background-color: {{checkoutbgcolor}};">Check Out<div class="underline"></div></ons-button>

                <div id="prefill_section" style="">

                  <br/>

                  <ons-button  ng-click="myNavigator.pushPage('prefilledcheckin.html', { animation : 'none' });" class="prefill-button chk-button-big" style="color: {{checkincolor}}; background-color: {{checkinbgcolor}};">Already Registered<div class="underline"></div></ons-button>                

                </div>
                
                <br/><br/>
                <br/>
                </center>        


            </div>            

        </div>

        <div class="centeredbottom termstext" style="width:90%;color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;" >
            
            <table width="100%" border="0">
                <tr><td width="80%">
                    
                   I understand that by entering my details, I am providing {{company_name}} with my personal data. By clicking “Opt-in”, I consent to this personal data being used by the {{company_name}} for the purpose of contacting me in the future by email about their products or services. I also understand and agree that my personal data may be held and used by the owner of this data capture App, Mediabase Direct Ltd, in order to run the App and for analysing visitor traffic with a view to improving the App experience for visitors and others. You will receive an email with {{company_name}} fire/emergency procedure and privacy policy where you can see how {{company_name}} will use your data.      <br/>
                </td><td >
                    <center><img src="img/logo_white.png" style="height:6vh;float:right;"  ng-click="showDebug();"/></center><br/>
                </td></tr> 
                </table>
            <br/>
        </div>
        
        <ons-button  ng-click="myNavigator.pushPage('staff.html', { animation : 'none' });" id="staff-button" class="staff-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:2vw ;"> 
          Staff <i class="fa fa-user-o" aria-hidden="true"></i> 
        </ons-button>    

        <ons-button  ng-click="myNavigator.pushPage('lost.html', { animation : 'none' });" id="lost-button" class="lost-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:2vw ;"> 
          Temp Badge <i class="fa fa-user-o" aria-hidden="true"></i> 
        </ons-button>     
           

        <style>
        </style>

        
    </ons-page> 
    
  </ons-template>

    


  <ons-template id="checkin.html">  

   <ons-page ng-controller="checkinController" ng-init="init()">

        <ons-button  ng-click="redirectBackOnly();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

        <ons-button  ng-click="selectContinue();" id="topcheckinName"  class="top-button"  style="display:none; text-align: right; color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Continue <i class="fa fa-angle-right" aria-hidden="true"></i></ons-button>



        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:60vw">
                <center>
                    <h1 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size: 3vw;"><b>{{actionTitle}}</b></h1>
                </center>


                <div class="inputwrapper">
                    <span class="fa fa-suitcase faicon"></span>
                    <span id="didyoumean" class="didyoumean">Did you mean : <b><a  ng-click="selectMatch()">{{checkin_name}}</a></b></span>                    
                    <!--<span id="continuenext" class="continuenext"><b><a  ng-click="selectContinue()">Continue</a></b></span>-->
                    <input type="text" class="text--input" name="checkin_name" id="checkin_name" ng-model="checkin" ng-change="changecheckin()"   placeholder="{{checkin_shaddow_text}}" value="" />
                </div>

                 <div class="firescroll-prefill scrollable" id="checkinpicker" style="display:none;max-height:15vh;border:1px solid transparent">
                    <div ng:repeat="item in items" style="border-bottom: 3px solid transparent">
                        <div ng:click="selectcheckin(item.id)" id="checkinName" class="checkinName checkleft" disabled="{{buttondisbled}}" style="width:100% ; font-size: 2vw">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.name}} &nbsp;&nbsp;&nbsp;&nbsp;<span class="yes-text yes-right"><u>Select</u></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>            
                </div>

                <div class="inputspacer"></div>                
                
                <div id="howdidyougethereshow">
                <table style="width:100%;display: table;" id="howdidyougethere" border="0">
                    <tr>
                        <td style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">
                                <center><h1 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size: 3vw;">How did you travel today? <span ng-show="showTravelOptional">(optional)</span></h1></center>
                                <center><small style="margin-top:-5px;font-size:0.6em;color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">(Please tap one of the icons)</small><span id="travelCross" class="fa fa-times errspanred" style="display:none"></span></center>
                            </div>
                            <input type="hidden" id="get_here" name="get_here" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td  >
                            <table width="100%"  style="font-size:4vw;float:right;clear:right;display: table;" border="0">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td id="caricon" class="iconitem" style="color: #848484;vertical-align: middle; background-color: white;height:8vw; width:8vw; border-radius: 50%;" ng-click="gethere('car')">
                                        &nbsp;<i class="fa fa-car iconitem caricon" aria-hidden="true" ></i>&nbsp;
                                    </td>
                                    <td></td>
                                    <td id="busicon" class="iconitem" style="color: #848484;vertical-align: middle; background-color: white;height:8vw; width:8vw; border-radius: 50%;" ng-click="gethere('bus')">
                                        &nbsp;<i class="fa fa-bus iconitem busicon"  aria-hidden="true"></i>&nbsp;
                                    </td>
                                    <td></td>
                                    <td id="bicycleicon" class="iconitem" style="color: #848484;vertical-align: middle; background-color: white;height:8vw; width:8vw; border-radius: 50%;" ng-click="gethere('bicycle')">
                                        &nbsp;<i class="fa fa-bicycle iconitem bicycleicon"></i>&nbsp;
                                    </td>
                                    <td></td>
                                    <td id="walkicon" class="iconitem" style="color: #848484;vertical-align: middle; background-color: white;height:8vw; width:8vw; border-radius: 50%;" ng-click="gethere('walk')">
                                        &nbsp;<i class="fa fa-male iconitem walkicon" aria-hidden="true"></i>&nbsp;
                                    </td>
                                    <td></td>
                                    <td id="othericon" class="iconitem" style="color: #848484;vertical-align: middle; background-color: white;height:8vw; width:8vw; border-radius: 50%;" ng-click="gethere('other')">
                                        &nbsp;<i class="fa fa-question-circle-o iconitem othericon"  aria-hidden="true"></i>&nbsp;
                                    </td>                                    
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:0.3em;">
                                        Car
                                    </td>
                                    <td></td>
                                    <td style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:0.3em;">
                                        Public<br/>Transport
                                    </td>
                                    <td></td>
                                    <td style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:0.3em;">
                                        Bicycle
                                    </td>
                                    <td></td>
                                    <td style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:0.3em;">
                                        Walk
                                    </td>
                                    <td></td>
                                    <td style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size:0.3em;">
                                        Other
                                    </td>      
                                    <td></td>
                                </tr>                                
                            </tbody>
                            </table>
                        </td> 
                    </tr>
                    <tr>
                        <td ></td>
                    </tr>
                </table>
                </div>



                <div id="carregdiv" style="display:none"><br/>

                    <h1 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size: 3vw;"><br/><br/>Please enter your car registration<br/></h1>

                    <div class="inputwrapper">
                        <span class="fa fa-car faicon"></span>
                        <span id="carregTick" class="fa fa-check errspan" style="display:none"></span> 
                        <span id="carregCross" class="fa fa-times errspanred" style="display:none"></span>
                        <input type="text" class="text--input" name="checkin_reg" id="checkin_reg" ng-model="checkin_reg" ng-keypress="travelCheck()"  style="text-transform: uppercase" placeholder="Enter reg no. (optional)" value=""  />
 
                    </div>
                    <div ng-click="changeTransport()" id="tran-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size: 1.4vw; float:right;"> 
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Select another form of transport
                    </div> 
                    <div class="inputspacer"></div>              
                </div>

                <br clear="both"/><br/>
                <center>
                <div id="checkinName" class="checkinName" style="display:none" ng-click="selectPatient()">Submit1
                    <div class="underline underlinecolour"></div>
                </div>
                <div id="solicitorscheckinName" class="checkinName" style="display:none" ng-click="selectNoIdea()">Submit
                    <div class="underline underlinecolour"></div>
                </div>      
                <div id="noCompaniesName" class="checkinName" style="display:none" ng-click="selectNoCompanies()">Submit
                    <div class="underline underlinecolour"></div>
                </div>  
                </center>    
            </div>            

        </div>
    </ons-page>   

  </ons-template>

    


  <ons-template id="details.html">   


    <ons-page ng-controller="detailsController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

        <ons-button  ng-click="selectContinue();" id="topcheckinName"  class="top-button-details"  style="display:none; text-align: right; color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Continue <i class="fa fa-angle-right" aria-hidden="true"></i></ons-button>



        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:55vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Please enter your details</b></h2>
                </center>


                <div class="inputwrapper" id="entryfirstname">
                    <span class="fa fa-user-o faicon"></span>
                    <span id="firstnameTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="firstnameCross" class="fa fa-times errspanred" style="display:none"></span>
                    <input type="text" class="text--input" name="checkin_firstname" id="checkin_firstname" ng-model="checkin_firstname" ng-keypress="watchEnter($event,1)"  placeholder="Forename" value="" focus="true"/>
                </div><div class="inputspacer" id="entryfirstnamespacer"></div>   

                <div class="inputwrapper" id="entrysurname">
                    <span class="fa fa-user-o faicon"></span>
                    <span id="surenameTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="surenameCross" class="fa fa-times errspanred" style="display:none"></span>
                    <span id="didyoumean" class="didyoumean didyouymeanleft">Did you mean : <b><a  ng-click="selectMatch()">{{prev_name}}</a></b></span>
                    <input type="text" class="text--input" name="checkin_surname" id="checkin_surname" ng-model="checkin_surname" ng-change="changecheckin()"  ng-keypress="watchEnter($event,2)"  placeholder="Surname" value="" />
                </div><div class="inputspacer"></div>                   

                <div   id="entryemailusedata">
                <div class="inputwrapper" id="entryemail">
                    <span class="fa fa-envelope-o faicon"></span>
                    <span id="emailTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="emailCross" class="fa fa-times errspanred" style="display:none"></span>
                    <span class="optinv2" ><span id="optin">Opt In </span><ons-switch ng-click="optinclickv2()" ng-model="optin" style="margin-top:-5px"></ons-switch></span>
                    
                    <input type="email" class="text--input" name="checkin_email" id="checkin_email" ng-model="checkin_email" ng-change="changecheckin()"  ng-keypress="watchEnter($event,3)"   placeholder="Email (optional)" value="" />
                </div>
                <div ng-click="emailinfo()" id="tran-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size: 1.1vw; float:right;text-align: left"> 
                    I understand that by entering my details, I am providing {{terminal_name}} with my personal data. By clicking “Opt-in”, I consent to this personal data being used by the {{terminal_name}} for the purpose of contacting me in the future by email about their products or services... Show More
                </div> <div class="inputspacer" id="entrycompanyspacer"></div>   
                </div>


                <div   id="entrycompanyusedata">
                  <div class="inputwrapper" id="entrycompany">
                      <span class="fa fa-suitcase faicon"></span>
                      <span id="companyTick" class="fa fa-check errspan" style="display:none"></span> 
                      <span id="companyCross" class="fa fa-times errspanred" style="display:none"></span>
                      <input type="text" class="text--input" name="checkin_company" id="checkin_company" ng-model="checkin_company" ng-change="changecheckin()"  ng-keypress="watchEnter($event,4)"  placeholder="Your Company (optional)" value="" />
                  </div> <div class="inputspacer"></div>              
                </div>



                


                <input type="hidden" class="text--input whiteinput" name="checkin_mobile" id="checkin_mobile"  pattern="[0-9]*" ng-model="checkin_mobile" ng-change="changecheckin()"   placeholder="Please Enter Your Mobile Number (optional)" value="" />
                <!-- <span id="patientTick" class="fa fa-phone-square iconblue" style=""></span><br/><br/> -->
                
                <br clear="both"/> 

                <center>

                <ons-button id="loginbutton" ng-click="checkfinish()">
                        Press here to continue<div class="underline underlinecolour"></div>
                </ons-button>                                  
                </center>                
                
            </div>

        
        </div>

        <style>
            .switch__input:checked + .switch__toggle {
                background-color: #00CC33;
            } 
        
        </style>        

    </ons-page> 
    
    

  </ons-template> 

    


  <ons-template id="hands.html">  

    <ons-page ng-controller="handsController" ng-init="init()">

        <ons-button  ng-click="myNavigator.popPage();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>


        <div style="text-align: center" id="firescroll" >
            
            <div id="mpCompanyName"  class="centered firescroll scrollable" style="width:80vw;height:55vw;margin-top:-7vw"> 
                <center>
                    
                    <img src="{{fire_image}}" width="80%" />
                </center>


            </div>


        
        </div>



        <div class="centeredbottom " style="width:70%;z-index:99999999999999999" >
           <center>
                <h3 style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><br/>Please take time to read the regulations</h3>        
                <ons-button id="actionButton" 
                    ng-click="redirectBack()">Press Here to Continue<div class="underline"></div></ons-button>
            </center>
        </div>

    </ons-page> 
    



  </ons-template>

    

    


  <ons-template id="contractor.html">  

    <ons-page ng-controller="contractorController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>


        <div style="text-align: center ; display:none;" id="firescroll" >
            
            <div id="mpCompanyName"  class="centered firescroll scrollable" style="{{signstyle}}"> 
                <center>                    
                    <img src="{{sign_document}}" width="80%" />
                </center>


            </div>



        
        </div>



        <div class="centeredbottom " style="width:70%;z-index:9999" >
           <center>
              <div id="contractorbuttons" ng-show="contractorbuttons">
              <h3 style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><br/>{{sign_text}}<br/></h3>             

                <div id="contractorbuttonsactions">
                  <ons-button id="actionButton" ng-click="redirectYes()">Yes<div class="underline"></div></ons-button>
                  <ons-button id="actionButton" ng-click="redirectNo()">No<div class="underline"></div></ons-button>
                </div>
                
                <div id="dbsbuttons" style="display:none">
                  <ons-button id="actionButton" ng-click="dbsAccept()">Accept<div class="underline"></div></ons-button>
                </div>
                                
                <div id="ndabuttons" style="display:none">
                  <ons-button id="actionButton" ng-click="ndaAccept()">Accept<div class="underline"></div></ons-button>
                </div>
                
                <div class="inputspacer"></div>                
              </div>

              <h3 style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"  ng-show="!contractorbuttons"><br/>Please sign to confirm you have read the above<br/></h3>             
                <canvas style="background-color: white; width: 400px; height: 150px;display:block;" id="signcanvas"></canvas>
            </center>
        </div>

    </ons-page> 
    



  </ons-template>

  <ons-template id="thanks.html">  

    <ons-page ng-controller="thanksController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>
        

     


        <div style="text-align: center" id="thanksText">
            
            <div id="mpCompanyName" class="centered" style="width:50%;color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Thank you for coming to visit {{checkin_name}}<br/><br/>{{message}}<br/><br/></b></h2>
                    
                    <br/><br/><br/><img src="{{company_image}}" width="50%" />

                </center>


            </div>



        
        </div>
    

    </ons-page> 


  </ons-template>

    


  <ons-template id="printer.html">  


    <ons-page ng-controller="printerController" ng-init="init()"> 

        <div style="text-align: center" id="printerText">
            
            <div id="mpCompanyName" class="centered" style="width:50%;">
                <center>
                    <h2 class="mpCompanyNameSpan" style="">You have label printing turned on please select your printer</h2>
                    
                    <br/><br/><br/>

                </center>


            </div>

        </div>
    

    </ons-page> 


  </ons-template>



  <ons-template id="fire.html">   
  
       <ons-page ng-controller="fireController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

            
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:60vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Fire Escape</b></h2>
                    <h3 id="mpNoneLeft" ng-show="noneleft" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>No one is left in the building</b></h3>                    
                </center>
                
                <div class="firescroll scrollable">
                    <div ng:repeat="item in items">
                        <div ng:click="checkout(item.id)" id="checkinName" class="checkinName checkleft" disabled="{{buttondisbled}}" style="width:100% ; font-size: 2vw">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-exclamation-triangle faicon" style="margin-right:10px;border-right:2px solid black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{item.company_representing}} {{item.name}} <span class="yes-text yes-right"><u>Check Out</u></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><br/>
                    </div>            
                </div>
                
                <div id="hiddenand" style="display:none;"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
            </div>            

        </div>
        
    </ons-page> 
    
  </ons-template>

    

  <ons-template id="debug.html">   
  
       <ons-page ng-controller="debugController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

            
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:60vw">
                
                <div class="firescroll scrollable">
                    <div ng:repeat="item in items">
                        <div style="color:white;font-size:9px">{{item.description}}</div>
                        <hr/>
                    </div>            
                </div>
                
            </div>            

        </div>
        
    </ons-page> 
    
  </ons-template>


  <ons-template id="checkout.html">   


   <ons-page ng-controller="checkoutController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

            
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:60vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Check Out</b></h2>
                </center>
                
                

                <div class="inputwrapper">
                    <span class="fa fa-suitcase faicon"></span>
                    <span id="didyoumean" class="didyoumean">Did you mean : <b><a  ng-click="selectMatch()">{{checkout_name}}</a></b></span>                    
                    <input type="text" class="text--input " name="checkout_name" id="checkout_name" ng-model="checkin" ng-change="changecheckout()"   placeholder="Please enter your first and second name to checkout." value="" />

                </div>


                <div class="firescroll scrollable" id="checkoutpicker" style="display:none;max-height:45vh;border:1px solid transparent">
                    <div ng:repeat="item in items" style="border-bottom: 3px solid transparent">
                        <div ng:click="selectcheckout(item.id)" id="checkinName" class="checkinName checkleft" disabled="{{buttondisbled}}" style="width:100% ; font-size: 2vw">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.name}} ( {{item.lastcheckintime}} )&nbsp;&nbsp;&nbsp;&nbsp;<span class="yes-text yes-right"><u>Select</u></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>            
                </div>

                <div class="inputspacer"></div>   

                <div style="" id="entrysmiles">
                    <div id="ratingbit" style="display: none">
                    <center>
                        <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Please rate your experience today (Optional)</b></h2>
                    </center>

                    <center><table width="100%" border="0">
                    <tr><td><center class="step2text">
                        <table width="100%" border=0>
                        <tr>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;" class="iconitem iconrate1"><img src="img/VeryBad1x.png" id="rate1" class="q1" style="padding-top:5px;" ng-click="iconclick('rate1')"/></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;"  class="iconitem iconrate2"><img src="img/Bad1x.png" id="rate2" class="q1" ng-click="iconclick('rate2')"style="padding-top:5px;" style="padding-top:5px;" /></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;"  class="iconitem  iconrate3"><img src="img/OK1x.png" id="rate3" class="q1" ng-click="iconclick('rate3')"style="padding-top:5px;" /></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;"  class="iconitem iconrate4"><img src="img/Good1x.png" id="rate4" class="q1" ng-click="iconclick('rate4')"style="padding-top:5px;" /></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;"  class="iconitem iconrate5"><img src="img/VeryGood1x.png" id="rate5" class="q1" ng-click="iconclick('rate5')"style="padding-top:5px;" /></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Very Poor</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Poor</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Average</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Good</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Very Good</center></td>
                          <td></td>
                        </tr>                                      
                      </table>
                    </center></td></tr>
                  </table></center>
                  </div>


                    <div id="distbit" style="display: none">
                    <center>
                        <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>How far did you travel today (Optional)</b></h2>
                    </center>

                    <center><table width="100%" border="0">
                    <tr><td><center class="step2text">
                        <table width="100%" border=0>
                        <tr>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;" class="iconitem icondist5"><span id="dist5" class="d1" style="padding-top:5px;" ng-click="distclick('dist5')">5</span></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;" class="iconitem icondist10"><span id="dist10" class="d1" style="padding-top:5px;" ng-click="distclick('dist10')">10</span></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;" class="iconitem icondist20"><span id="dist20" class="d1" style="padding-top:5px;" ng-click="distclick('dist20')">20</span></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;" class="iconitem icondist50"><span id="dist50" class="d1" style="padding-top:5px;" ng-click="distclick('dist50')">50</span></td>
                          <td></td>
                          <td style="color: #848484;vertical-align: middle; text-align: center;background-color: white;height:8vw; width:8vw; border-radius: 50%;" class="iconitem icondist100"><span id="dist100" class="d1" style="padding-top:5px;" ng-click="distclick('dist100')">100</span></td>
                          <td></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Miles</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Miles</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Miles</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Miles</center></td>
                          <td></td>
                          <td><center style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Miles</center></td>
                          <td></td>
                        </tr>                                      
                      </table>
                    </center></td></tr>
                  </table></center>
                  </div>  


                  <div id="postcodediv" style="display:none"><br/>

                      <h1 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;font-size: 3vw;"><br/><br/><br/><br/>Please enter your Postcode (Optional) <br/></h1>

                      <div class="inputwrapper">
                          <span class="fa fa-list-alt faicon"></span>
                          <input type="text" class="text--input" name="checkout_postcode" id="checkout_postcode" style="text-transform: uppercase" ng-model="checkout_postcode" ng-change="changepostcode()"  placeholder="Enter Postcode (optional)" value=""  />
                      </div>
                      <div class="inputspacer"></div>  
                      
                  </div>  


                </div>
 
              

            
                
                <!-- <div ng:repeat="item in items">
                    <div ng:click="checkout(item.id)" id="checkinName" class="checkinName checkleft" disabled="{{buttondisbled}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{item.name}}</b><span class="yes-text yes-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check Out <i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></span></div><br/>
                </div> -->

                <br/><br/><ons-button id="checkoutbutton" ng-click="checkout()" style="display:none">
                        Check-Out<div class="underline underlinecolour"></div>
                </ons-button>     

            </div>            

        </div>
        
    </ons-page> 

  </ons-template>


    <ons-template id="dbs.html">   


   <ons-page ng-controller="dbsController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

            
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:60vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Check In</b></h2>
                </center>

                <div class="inputwrapper">
                    <span class="fa fa-suitcase faicon"></span>
                    <span id="notmatched" class="didyoumean"><a ng-click="noMatchAction()">No match found. Press here to continue and check in</a></b></span>  
                                      
                    <input type="text" class="text--input " name="dbs_checkin_name" id="dbs_checkin_name" ng-model="checkin" ng-change="changedbscheckin()"   placeholder="Please enter your name and select the matching result" value="" />

                </div> 


                <div class="firescroll scrollable" id="dbspicker" style="display:none;max-height:45vh;border:1px solid transparent">
                    <div ng:repeat="item in items" style="border-bottom: 3px solid transparent">
                        <div ng:click="selectMatchByID(item)" id="checkinName" class="checkinName checkleft" disabled="{{buttondisbled}}" style="width:100% ; font-size: 2vw">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.lastmatch}} {{item.showcompany}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="yes-text yes-right"><u>Select</u></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>            
                </div><div class="inputspacer"></div>  


                <ons-button id="dbscheckinbutton" ng-click="dbscheckin()" style="display:none">
                        Check-In<div class="underline underlinecolour"></div>
                </ons-button>     

            </div>            

        </div>
        
    </ons-page> 

  </ons-template>


  <ons-template id="prefilledcheckin.html">   


   <ons-page ng-controller="PrefilledCheckinController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

            
        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:60vw">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Check In</b></h2>
                </center>

                <div class="inputwrapper">
                    <span class="fa fa-suitcase faicon"></span>
                    <span id="didyoumean" class="didyoumean">Did you mean : <b><a  ng-click="selectMatch()">{{prefilled_checkin_name}}</a></b></span>  
                    <span id="notmatched" class="didyoumean"><a ng-click="noMatchAction()">No match found. Press here to continue and check in</a></b></span>  
                                      
                    <input type="text" class="text--input " name="prefilled_checkin_name" id="prefilled_checkin_name" ng-model="checkin" ng-change="changeprefilledcheckin()"   placeholder="Please enter your name and select the matching result" value="" />

                </div> 


                <div class="firescroll scrollable" id="prefillpicker" style="display:none;max-height:45vh;border:1px solid transparent">
                    <div ng:repeat="item in items" style="border-bottom: 3px solid transparent">
                        <div ng:click="selectMatchByID(item)" id="checkinName" class="checkinName checkleft" disabled="{{buttondisbled}}" style="width:100% ; font-size: 2vw">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.lastmatch}} {{item.showcompany}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="yes-text yes-right"><u>Select</u></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    </div>            
                </div><div class="inputspacer"></div>  


                <ons-button id="prefilledcheckinbutton" ng-click="prefilledcheckin()" style="display:none">
                        Check-In<div class="underline underlinecolour"></div>
                </ons-button>     

            </div>            

        </div>
        
    </ons-page> 

  </ons-template>


  <ons-template id="thankscheckout.html">   

    <ons-page ng-controller="thankscheckoutController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>        

        <div style="text-align: center">
            
            <div id="mpCompanyName" class="centered" style="width:50%;color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Thank you for visiting {{checkin_name}}<br/><br/>Have a good day.</b></h2>


                    <br/><br/><br/><img src="{{company_image}}" width="30%" />

                </center>


            </div>

        
        </div>


    </ons-page> 
    


  </ons-template>

    
    
  <ons-template id="trial.html">   
 
    <ons-page >

        <ons-button  ng-click="myNavigator.pushPage('login.html', { animation : 'none' } );" class="back-button" style="color: {{textcolor}}; ">Sign In <i class="fa fa-home" aria-hidden="true"></i></ons-button>        

        <div style="text-align: center">
            
            <div id="mpCompanyName" class="centered" style="width:80%;color: {{textcolor}};">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; "><b>Thank you for signing up for your free 14 day trial of <br>e-Reception book by LEADR. You will receive an email shortly to verify your account, once verified please return to the app and sign in with your credentials.</b></h2>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; "><b><br/><br/>If you expierence any problems, please get in touch with us at: support@mediabasedirect.com</b></h2>

                </center>


            </div>

        
        </div>


    </ons-page>         
    

  </ons-template>


  <ons-template id="lost.html">  


    <ons-page ng-controller="lostController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>

        <div style="text-align: center">
        
            <div id="mpCompanyName" class="centered" style="width:75%;color:black;; min-height:55vw">

                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Please enter your details</b></h2>
                </center>


                <div class="inputwrapper" id="entryname">
                    <span class="fa fa-user-o faicon"></span>
                    <span id="nameTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="nameCross" class="fa fa-times errspanred" style="display:none"></span>
                    <input type="text" class="text--input" name="lost_name" id="lost_name" ng-model="lost_name" ng-keypress="watchEnter($event,1)" ng-change="changecheckin()"   placeholder="Please enter your name*" value="" />
                </div> <div class="inputspacer"></div>              

                <div class="inputwrapper" id="entrybadge">
                    <span class="fa fa-id-card faicon"></span>
                    <span id="badgeTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="badgeCross" class="fa fa-times errspanred" style="display:none"></span>
                    <input type="text" class="text--input" pattern="[0-9]*" name="lost_badge" id="lost_badge" ng-model="lost_badge" inputmode="numeric" ng-keypress="watchEnter($event,2)" ng-change="changecheckin()"   placeholder="Enter your Temporary Badge Number*" value="" />
                </div> <div class="inputspacer"></div>              

                <div class="inputwrapper" id="entrymanager">
                    <span class="fa fa-user-o faicon"></span>
                    <span id="managerTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="managerCross" class="fa fa-times errspanred" style="display:none"></span>
                    <span id="didyoumeanmanager" class="didyoumean didyouymeanleft">Did you mean : <b><a  ng-click="selectManagerMatch()">{{lastmanagername}}</a></b></span>
                    <input type="text" class="text--input" name="lost_manager" id="lost_manager" ng-model="lost_manager" ng-keypress="watchEnter($event,3)" ng-change="changecheckin()"   placeholder="Enter your Line Manager*" value="" />
                </div> <div class="inputspacer"></div>              

                <div class="inputwrapper" id="entrydepartment">
                    <span class="fa fa-industry   faicon"></span>
                    <span id="departmentTick" class="fa fa-check errspan" style="display:none"></span> 
                    <span id="departmentCross" class="fa fa-times errspanred" style="display:none"></span>
                    <span id="didyoumeandept" class="didyoumean didyouymeanleft">Did you mean : <b><a  ng-click="selectDeptMatch()">{{lastdepartment}}</a></b></span>
                    <input type="text" class="text--input" name="lost_department" id="lost_department" ng-model="lost_department" ng-keypress="watchEnter($event,4)" ng-change="changecheckin()"   placeholder="Enter your Department*" value="" />
                </div> <div class="inputspacer"></div>              

                
                <br clear="both"/> 

                <center>

                <ons-button id="loginbutton" ng-click="checkfinish()">
                        Check-In<div class="underline underlinecolour"></div>
                </ons-button>                                  
                </center>                
                
            </div>

        
        </div>


    </ons-page> 
    
    

  </ons-template> 

  <ons-template id="thankslost.html">  

    <ons-page ng-controller="thanksController" ng-init="init()">

        <ons-button  ng-click="redirectBack();" class="back-button" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">Back <i class="fa fa-undo" aria-hidden="true"></i></ons-button>
        

     


        <div style="text-align: center" id="thanksText">
            
            <div id="mpCompanyName" class="centered" style="width:50%;color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;">
                <center>
                    <h2 class="mpCompanyNameSpan" style="color: {{textcolor}}; text-shadow: {{textbgcolor}} 1px 1px 0px;"><b>Please hand in your temporary badge back to Reception at the end of the day.<br/><br/></b></h2>
                    
                    <br/><br/><br/><img src="{{company_image}}" width="50%" />

                </center>


            </div>



        
        </div>
    

    </ons-page> 


  </ons-template>



    <script src="js/controllers/RegisterController.js"></script>
    <script src="js/controllers/TermsController.js"></script>
    <script src="js/controllers/LoginController.js"></script>         
    <script src="js/controllers/MainController.js"></script>    
    <script src="js/controllers/CheckinController.js"></script>
    <script src="js/controllers/PrefilledCheckinController.js"></script>
    <script src="js/controllers/DBSController.js"></script>
    <script src="js/controllers/CheckoutController.js"></script>    
    <script src="js/controllers/DetailsController.js"></script>    
    <script src="js/controllers/ThanksController.js"></script>
    <script src="js/controllers/PrinterController.js"></script>
    <script src="js/controllers/LostController.js"></script>
    <script src="js/controllers/ThanksTermsController.js"></script>
    <script src="js/controllers/ThanksCheckoutController.js"></script>
    <script src="js/controllers/FireController.js"></script>
    <script src="js/controllers/StaffController.js"></script>
    <script src="js/controllers/HandsController.js"></script>
    <script src="js/controllers/CategoriesController.js"></script>
    <script src="js/controllers/debugController.js"></script>
    <script src="js/controllers/ContractorController.js"></script>

    <script src="js/signature_pad.js"></script>

</body>
</html>
